<p data-hook="skrill_quick_checkout"></p>

<%
opts = {}
opts[:transaction_id] = "#{@order.number}"
opts[:amount] = @order.total
opts[:return_url] = paytrail_return_order_checkout_url(@order, :token => @order.token,
                                                             :payment_method_id => payment_method.id)
opts[:cancel_url] = paytrail_cancel_order_checkout_url(@order, :token => @order.token)
opts[:status_url] = paytrail_status_update_url
opts[:payment_method_id] = payment_method.id
%>

<style>
  iframe.skrill_frame{
    border: 0px;
    width: 600px;
    height: 600px;
  }
</style>

<fieldset id="skrill_payment__<%= payment_method.id %>" data-hook>
  <legend>Verkkomaksut Payment<%#= t(:payment_information) %></legend>
  <%# Send IE users to the paytrail page instead of showing in IFrame %>
  <% if browser.ie? %>
    <% url = payment_method.redirect_url @order, opts %>
    <p>Redirecting..</p>
    <script type="text/javascript">
      window.location.href="<%= url.html_safe %>"  // the paytrail url
    </script>
  <% else %>
    <iframe id="skrill_frame_<%= payment_method.id %>"
          class="skrill_frame" src="<%= payment_method.redirect_url @order, opts %>"></iframe>
  <% end %>
</fieldset>

